@media (min-width: 768px) {
    .navbar-brand.abs
        {
            position: absolute;
            width: 100%;
            left: 0;
            text-align: center;
        }
    }

body {
    padding: 0;
    margin: 0;
    font-family: Montserrat, sans-serif;
    line-height: 150%;
    background: #EBEDEF;
  }

.navbar-brand {
    padding: 15px;
    margin: 0px;
    color: #FEFEFE;
    background-color: #00CADE;
    font-family: "Lucida Bright", serif;
    font-size: 22px;
    font-weight: 800;
}

.nav-item {
    animation-name: background-color; 
    animation-duration: 500ms; 
}

.nav-item a:hover {
    color: #5E5E5E;
    background-color: #DFE0E0; 
}

.navbar-brand:hover {
    color: #FEFEFE;
    box-shadow: 2px 2px #DFE0E0;
}

.dropdown-item,
.nav-link {
    font-family: Montserrat, sans-serif;
    font-size: 13px;
    color: #5E5E5E;
}

.box {
    height: auto;
    padding: 20px;
    font-weight: 800;
    font-size: 13px;
    color: #5E5E5E;
    background-color: #FEFEFE;
    margin: 10px;
    margin-top: 40px;
  }

h1 {
    font-family: "Lucida Bright", serif;
    color: #00CADE;
    font-size: 20px;
    font-weight: 800;
}

.summary-image {
    margin: 10px;
    height: 200px;
    float: left;
}

.image {
    margin: 10px;
    height: auto;
    max-width: 100%;
}

.nested-image {
    margin: 5px;
    height: auto;
    max-width: 100%;
}

.embed-responsive-item {
    width: 100%;
    min-height: 500px;
}